{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Login{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block body %}
    {% for mensaje in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{mensaje}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <h1>Login - sistema unificado de acceso</h1>
    <form action="{{url_for('login')}}" method="POST">
        {{wtf.quick_form(login_form)}}
    </form>
{% endblock %}